<section class="todolist-wrapper">
    <h1 class="title">TODO APP</h1>
    <div class="new-todo">
        <input type="text" placeholder="Escribe una nueva tarea">
        <button>+</button>
    </div>

    <div class="filters">
        <button> TODO </button>
        <button>IN PROGRESS </button>
        <button>DONE</button>
    </div>

    <ul class="todoList">
        <!-- ya editada -->
        <li class="TODO">
            <input type="checkbox">
            <label >Titulo de tarea</label>
            <button>Editar</button>
            <button>Eliminar</button>
        </li>
        <!-- editando -->
        <li class= "todo-editing">
            <input type="text" placeholder="Editar tarea">
        </li>
    </ul>

</section>